@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
$green: rgb(71, 255, 80);
$red: rgb(255, 110, 110);
$yellow: rgb(253, 250, 83);
$black: rgb(0, 0, 0);
$blue: #231d74;
$white: #e0e0e0;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $white;
    font-family: "Roboto", sans-serif;

    .container {
        h1 {
            opacity: 50%;
        }
        p{
            opacity: 50%;
        }
        margin: 0 auto;
        padding: 1rem;
        max-width: 600px;
        background-color: #fff;
        height: 300px;
        margin-top: 300px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        border-radius: 50px;
        background: #e0e0e0;
        box-shadow:  20px 20px 60px #bebebe,
                    -20px -20px 60px #ffffff;

        .counter {
            font-size: 100px;
        }

        .buttsons {
            display: flex;
            justify-content: center;
            gap: 15px;
            margin-top: 2rem;
            
            button {
                border: 0;
                padding: 1rem 2rem;
                border-radius: 5px;
            }
        
            .start{
                

                
                border-radius: 50px;
                background: #93e197;
                box-shadow:  20px 20px 60px #7dbf80,
                            -20px -20px 60px #a9ffae;
            }

            .pause{
                border-radius: 50px;
                background: #d38d8d;
                box-shadow:  20px 20px 60px #b37878,
                            -20px -20px 60px #f3a2a2;
            }

            .restart{

                border-radius: 50px;
                background: #dbd776;
                box-shadow:  20px 20px 60px #bab764,
                            -20px -20px 60px #fcf788;
            }
            .stop {
                border-radius: 50px;
                background: #dbd776;
                box-shadow:  20px 20px 60px #bab764,
                            -20px -20px 60px #fcf788;
            }
        }
        .red {
            color: $red;
        }
        .black {
            color: $black;
        }
    }
}

